{{ form_start(form, {'attr': {'class': 'card p-1'}}) }}
    {{ form_row(form.title, {'required': true, 'attr': {'placeholder': 'Write descriptive title about this contribution'}}) }}
    {{ form_row(form.summary, {'required': true, 'attr': {'placeholder': 'Write small summary about the usage/importance of this contribution'}}) }}
    {{ form_row(form.description, {'required': true, 'label': 'Contribution Body'}) }}

<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(form) }}