{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.summary) }}
            {{ form_row(form.description) }}

            <button type="submit" class="btn btn-primary">Create!</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        new EasyMDE({
            element: document.getElementById('contribution_description'),
            forceSync: true
        });
    </script>
{% endblock %}