{% extends 'base.html.twig' %}

{% block title %}Read: {{ contribution.title }}{% endblock %}

{% block body %}
    <!-- Contribution content column -->
    <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ contribution.title }}</h1>

        <!-- Author -->
        <p class="lead">
            by
            <img class="md-avatar rounded-circle size-1 mx-1" src="{{ contribution.user.avatar }}"><a href="#">{{ contribution.user.username }}</a>
            {% if app.user is not empty and is_granted('manage', contribution) %}
                -
                <a title="Edit" href="{{ path('edit_contribution', {id: contribution.id}) }}" class="btn btn-primary">
                    <span class="fa fa-pencil"></span>
                </a>
                <a title="Remove" id="remove_contribution" href="#" class="btn btn-danger">
                    <span class="fa fa-remove"></span>
                </a>
                {{ include('contribution/_delete_form.html.twig') }}
            {% endif %}
        </p>


        <hr>

        <!-- Date/Time -->
        <p>Posted on {{ contribution.createdAt|date('F j, Y, g:i a') }}</p>

        <hr>

        <!-- Contribution Content -->
        <pre class="col-sm-12">
            {{ contribution.description|raw }}
        </pre>

        <hr>
        <!-- Contribution likes & bookmarks section -->
        <div class="col-sm-12">
            <a id="toggle_likes" class="btn {{ (app.user in contribution.likes) ? 'btn-outline-primary' : 'btn-outline-dark' }}" href="#" data-href="{{ path('toggle_likes_contribution', {id: contribution.id}) }}">
                <i class="fa fa-thumbs-up"></i>
                <span id="likes_counter">{{ contribution.likes|length }}</span>
            </a>
        </div>

        <hr>

        <!-- Comments Form -->
        <!--
       <div class="card my-4">
           <h5 class="card-header">Leave a Comment:</h5>
           <div class="card-body">
               <form>
                   <div class="form-group">
                       <textarea class="form-control" rows="3"></textarea>
                   </div>
                   <button type="submit" class="btn btn-primary">Submit</button>
               </form>
           </div>
       </div>
       -->
    </div>

{% endblock %}