<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}The Knower | Who knows everything{% endblock %}</title>

        {{ encore_entry_link_tags('app') }}

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <!-- Navigation -->
        <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{ path('home') }}">
                    The Knower
                </a>
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user is empty %}
                        <li><a class="btn btn-primary btn-social btn-github" href="{{ path('connect_github_start') }}">
                            <span class="fa fa-github pr-1"></span>Sign in with Github
                        </a></li>
                    {% else %}
                        <li><a class="btn btn-primary" href="{{ path('add_contribution') }}">
                            <i class="fa fa-plus pr-1"></i>Contribute
                        </a></li>
                        <li><a class="btn btn-dark" href="{{ path('app_logout') }}">
                            <i class="fa fa-sign-out pr-1"></i>Log out
                        </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <!-- Page Content -->
        <div class="container">
            {% for message in app.session.flashBag.get('success') %}
                <!-- Flash messages -->
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}

            <div class="row">
                {% block body %}{% endblock %}

                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">
                    <!-- Side Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Top 10 Contributions</h5>
                        <div class="card-body">
                            <a href="#">
                                #1. ....
                            </a>
                            <br />
                            <a href="#">
                                #2. ....
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.Sidebar -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->

        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
